body {
  font-family: Arial;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background: #eee;
}

.online {
  color: green;
}

.offline {
  color: red;
}
