body {
  font-family: Arial;
  background: #f3f4f6;
  margin: 0;
}

header {
  background: #111827;
  color: white;
  padding: 15px;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
